.extra {
    padding: 40px;
    background: #ECF2FF;
    border-radius: 6px;
}

.extra__title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
}

.extra__body {
    margin-left: 15px;
}

@media screen and (max-width: 1279px) {
    .extra {
        padding: 32px;
        width: auto;
    }
    .extra__title {
        font-size: 18px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 969px) {
    .extra {
        padding: 24px;
    }
    .extra__title {
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 639px) {
    .extra {
        padding: 30px 24px;
    }
    .extra__title {
        font-size: 16px;
        margin-bottom: 10px;
    }
}