.footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__contacts {
    display: flex;
    gap: 60px;
}

.footer__name, .footer__phone, .footer__bottom {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #536052;
}

.footer__line {
    width: 100%;
    border: 1px solid rgba(83, 96, 82, 0.6);
}

@media screen and (max-width: 1279px) {
    .footer {
        gap: 16px;
    }
    .footer__name, .footer__phone, .footer__bottom {
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 969px) {
    .footer {
        gap: 12px;
    }
    .footer__contacts {
        gap: 40px;
    }
    .footer__name, .footer__phone, .footer__bottom {
        font-size: 13px;
        line-height: 16px;
    }
}

@media screen and (max-width: 639px) {
    .footer {
        gap: 10px;
    }
    .footer__contacts {
        flex-direction: column;
        gap: 4px;
    }
    .footer__name, .footer__phone, .footer__bottom {
        font-size: 11px;
        line-height: 13px;
    }
    .footer__name, .footer__phone {
        text-align: end;
    }
}